
<div class="conteiner">

    <div class="posts_field">
    <div class="field3">
        <h1>新規投稿</h1>
    </div>

    <%= render 'form', post: @post %>

    <%= link_to '戻る', posts_path %>
	</div>
</div>